streamlit
Pillow
pandas
fpdf
opencv-python
numpy
textwrap3
plotly
yfinance
pandas-datareader
prophet
pymupdf
rembg
onnxruntime
PyMuPDF
google-auth
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gspread
