altair
attrs
blinker
blurhash
boost
cachetools
certifi
chardet
charset-normalizer
click
cmake
colorama
coloredlogs
decorator
distlib
# Remove this line
# dlib @ file:///C:/Users/Shree/Downloads/dlib-19.24.1-cp311-cp311-win_amd64.whl#sha256=6f1a5ee167975d7952b28e0ce4495f1d9a77644761cf5720fb66d7c6188ae496
dlib
entrypoints
face-crop-plus
face-recognition
face_recognition_models
facenet-pytorch
filelock
flatbuffers
fpdf
fsspec
gitdb
GitPython
grade
greenlet
humanfriendly
idna
imageio
importlib_metadata
intel-openmp
Jinja2
jsonschema
jsonschema-specifications
lazy_loader
llvmlite
markdown-it-py
MarkupSafe
Mastodon.py
mdurl
mkl
mpmath
networkx
numba
numpy
onnxruntime
opencv-python
opencv-python-headless
packaging
pandas
pillow
platformdirs
pooch
protobuf
pyarrow
pydeck
Pygments
PyMatting
Pympler
PyMuPDF
PyMuPDFb
pyreadline3
python-dateutil
python-decouple
python-magic
python-magic-bin
pytz
referencing
rembg
reportlab
requests
rich
rpds-py
scikit-image
scipy
semver
six
smmap
SQLAlchemy
streamlit
streamlit-aggrid
sympy
tbb
tenacity
tifffile
toml
toolz
torch
torchvision
tornado
tqdm
typing_extensions
tzdata
tzlocal
Unidecode
urllib3
validators
virtualenv
watchdog
zipp
